.modalBg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, .6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 999999;
  width: 100%;
  margin-top: -110px;
  &__contents {
    margin: 0 32px;
    padding: 60px 22px 52px;
    background-color: $background-color-white;
    border-radius: 12px;
    &__title {
      color: $font-color-gray_strong;
      font-size: $font-size-2extra-large;
      font-family: Comfortaa;
      line-height: 21px;
      text-align: center;
    }
    &__action {
      margin-top: 46px;
    }
  }
}